.header{
    background-color: green;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.link{
    background-color: orangered;
    font-style: italic;
}

img{
    height: auto;
    width: 400px;
}